$icomoon-font-family: "pirol" !default;
$icomoon-font-path: "fonts" !default;

$icon-arc: "\e900";
$icon-diamond: "\e901";
$icon-joy: "\e902";
$icon-magic-w: "\e903";
$icon-paint-b: "\e904";
$icon-phone: "\e905";
$icon-plane: "\e906";
$icon-star: "\e907";

