/* Sizing */

$x: 4px;

/* Typography */

$font-family-main: "Roboto", Arial, Helvetica, sans-serif;

/* Colors */
$color-dark: #1d1d1d;
$color-text: #aaa5a5;
$color-second: #10c9c3;


// $first-color: #1d1d1d;
// $secon-color: #10c9c3;

